section{
    background-color: white;
    padding: 15px;
    width: 60%;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color:rgb(190, 190, 190);
    border-radius: 25px;
    height: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    letter-spacing: 1px;
}


.active_like{
    background-color:rgb(114, 208, 114);
}
.active_dislike{
    background-color: rgb(204, 89, 89);
}    

a{
    position: relative;
    left: 80%;
}

